@page "/counter"

@inject IJSRuntime jsRuntime
<button class="btn btn-primary" @onclick="randNum">Click me</button>

<div id="chart"></div>


@code {
    //protected override async Task OnInitializedAsync() {}

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("generateGauge", 25, 50);
            this.StateHasChanged();
        }
    }

    public async Task randNum() {
        int num1 = new Random().Next(0, 100),
            num2 = new Random().Next(0, 100);
        await jsRuntime.InvokeVoidAsync("updateGauge", num1, num2);
    }

}