@page "/"

@inject IJSRuntime jsRuntime
<p>Click here for random results: </p>
<button class="btn btn-primary" @onclick="randNum">Random</button>

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-4">
        <div class="form-group">
            <label for="percentage">Or enter a value for the stage and grade of periodontitis</label>
            <input class="form-control" type="number" min="0" max="100" @bind="stage" @bind:event="oninput" />
            <input class="form-control" type="number" min="0" max="100" @bind="grade" @bind:event="oninput" />
            <small class="form-text text-muted">Enter a value between 0 and 100 and click submit to update the gauge.</small>
            <button class="btn btn-primary" @onclick="updateGaugeButton">Submit</button>
        </div>
    </div>
</div>

<div id="chart"></div>

@code {
    private int stage = 25, grade = 50;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("generateGauge", stage, grade);
            this.StateHasChanged();
        }
    }

    public async Task updateGauge(int stage, int grade)
    {
        await jsRuntime.InvokeVoidAsync("updateGauge", stage, grade);
    }

    //Button Calls
    public async Task updateGaugeButton(){
        await updateGauge(stage, grade);
    }

    public async Task randNum()
    {
        stage = new Random().Next(0, 100);
        grade = new Random().Next(0, 100);
        await updateGauge(stage, grade);
    }
}
